# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/
.env
backend/.env

# Node
node_modules/
frontend/node_modules/
frontend/dist/

# Docker
*.log

# PostgreSQL
pgdata/
postgres_data/

# Прочее
.DS_Store
Thumbs.db
api_requests.log
db.sqlite3